    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-anatomic-heart:before { content: "\f100"; }
.flaticon-anatomic-spine:before { content: "\f101"; }
.flaticon-bacteria-circle:before { content: "\f102"; }
.flaticon-biceps:before { content: "\f103"; }
.flaticon-big-ear:before { content: "\f104"; }
.flaticon-big-eye:before { content: "\f105"; }
.flaticon-big-finger:before { content: "\f106"; }
.flaticon-big-intestines:before { content: "\f107"; }
.flaticon-big-moustache:before { content: "\f108"; }
.flaticon-big-nose:before { content: "\f109"; }
.flaticon-big-nose-1:before { content: "\f10a"; }
.flaticon-big-skull:before { content: "\f10b"; }
.flaticon-big-tooth:before { content: "\f10c"; }
.flaticon-bone-hand:before { content: "\f10d"; }
.flaticon-bones-crossed:before { content: "\f10e"; }
.flaticon-brain-cenit-view:before { content: "\f10f"; }
.flaticon-brain-on-head:before { content: "\f110"; }
.flaticon-child-head:before { content: "\f111"; }
.flaticon-classic-moustache:before { content: "\f112"; }
.flaticon-conceiving:before { content: "\f113"; }
.flaticon-dna-code:before { content: "\f114"; }
.flaticon-eye-closed:before { content: "\f115"; }
.flaticon-female-reproduction-system:before { content: "\f116"; }
.flaticon-femenine-torso:before { content: "\f117"; }
.flaticon-full-stomach:before { content: "\f118"; }
.flaticon-groin:before { content: "\f119"; }
.flaticon-hand-cut:before { content: "\f11a"; }
.flaticon-heart-beating:before { content: "\f11b"; }
.flaticon-hip-bone:before { content: "\f11c"; }
.flaticon-hip-radiography:before { content: "\f11d"; }
.flaticon-human-back:before { content: "\f11e"; }
.flaticon-human-eyes:before { content: "\f11f"; }
.flaticon-human-head:before { content: "\f120"; }
.flaticon-human-liver:before { content: "\f121"; }
.flaticon-human-neck:before { content: "\f122"; }
.flaticon-human-ribs:before { content: "\f123"; }
.flaticon-human-sperm:before { content: "\f124"; }
.flaticon-kidneys:before { content: "\f125"; }
.flaticon-knee-bones:before { content: "\f126"; }
.flaticon-knee-bones-1:before { content: "\f127"; }
.flaticon-left-foot:before { content: "\f128"; }
.flaticon-lips-with-mole:before { content: "\f129"; }
.flaticon-lungs-with-bronchi:before { content: "\f12a"; }
.flaticon-man-with-beard:before { content: "\f12b"; }
.flaticon-masculine-foot:before { content: "\f12c"; }
.flaticon-men-back:before { content: "\f12d"; }
.flaticon-men-hair:before { content: "\f12e"; }
.flaticon-men-legs:before { content: "\f12f"; }
.flaticon-men-torso:before { content: "\f130"; }
.flaticon-mustache-and-nose:before { content: "\f131"; }
.flaticon-nose-and-lips:before { content: "\f132"; }
.flaticon-oftalmology:before { content: "\f133"; }
.flaticon-one-hair:before { content: "\f134"; }
.flaticon-one-kidney:before { content: "\f135"; }
.flaticon-open-mouth:before { content: "\f136"; }
.flaticon-ophthalmology:before { content: "\f137"; }
.flaticon-orthopedic-leg:before { content: "\f138"; }
.flaticon-pregnant-woman:before { content: "\f139"; }
.flaticon-skin-hair:before { content: "\f13a"; }
.flaticon-spinal-bones:before { content: "\f13b"; }
.flaticon-stomach:before { content: "\f13c"; }
.flaticon-teeth-line:before { content: "\f13d"; }
.flaticon-tongue-out:before { content: "\f13e"; }
.flaticon-toothache:before { content: "\f13f"; }
.flaticon-two-feet:before { content: "\f140"; }
.flaticon-two-fingers:before { content: "\f141"; }
.flaticon-two-kidneys:before { content: "\f142"; }
.flaticon-two-lungs:before { content: "\f143"; }
.flaticon-urinary-bladder:before { content: "\f144"; }
.flaticon-urinary-system:before { content: "\f145"; }
.flaticon-vended-knee:before { content: "\f146"; }
.flaticon-walking-tiptoed:before { content: "\f147"; }
.flaticon-woman-body:before { content: "\f148"; }
.flaticon-woman-breast:before { content: "\f149"; }
.flaticon-woman-lips:before { content: "\f14a"; }
.flaticon-woman-neck:before { content: "\f14b"; }
.flaticon-woman-with-panties:before { content: "\f14c"; }
.flaticon-women-buttock:before { content: "\f14d"; }
.flaticon-women-foot:before { content: "\f14e"; }
.flaticon-x-ray-of-lungs:before { content: "\f14f"; }
    
    $font-Flaticon-anatomic-heart: "\f100";
    $font-Flaticon-anatomic-spine: "\f101";
    $font-Flaticon-bacteria-circle: "\f102";
    $font-Flaticon-biceps: "\f103";
    $font-Flaticon-big-ear: "\f104";
    $font-Flaticon-big-eye: "\f105";
    $font-Flaticon-big-finger: "\f106";
    $font-Flaticon-big-intestines: "\f107";
    $font-Flaticon-big-moustache: "\f108";
    $font-Flaticon-big-nose: "\f109";
    $font-Flaticon-big-nose-1: "\f10a";
    $font-Flaticon-big-skull: "\f10b";
    $font-Flaticon-big-tooth: "\f10c";
    $font-Flaticon-bone-hand: "\f10d";
    $font-Flaticon-bones-crossed: "\f10e";
    $font-Flaticon-brain-cenit-view: "\f10f";
    $font-Flaticon-brain-on-head: "\f110";
    $font-Flaticon-child-head: "\f111";
    $font-Flaticon-classic-moustache: "\f112";
    $font-Flaticon-conceiving: "\f113";
    $font-Flaticon-dna-code: "\f114";
    $font-Flaticon-eye-closed: "\f115";
    $font-Flaticon-female-reproduction-system: "\f116";
    $font-Flaticon-femenine-torso: "\f117";
    $font-Flaticon-full-stomach: "\f118";
    $font-Flaticon-groin: "\f119";
    $font-Flaticon-hand-cut: "\f11a";
    $font-Flaticon-heart-beating: "\f11b";
    $font-Flaticon-hip-bone: "\f11c";
    $font-Flaticon-hip-radiography: "\f11d";
    $font-Flaticon-human-back: "\f11e";
    $font-Flaticon-human-eyes: "\f11f";
    $font-Flaticon-human-head: "\f120";
    $font-Flaticon-human-liver: "\f121";
    $font-Flaticon-human-neck: "\f122";
    $font-Flaticon-human-ribs: "\f123";
    $font-Flaticon-human-sperm: "\f124";
    $font-Flaticon-kidneys: "\f125";
    $font-Flaticon-knee-bones: "\f126";
    $font-Flaticon-knee-bones-1: "\f127";
    $font-Flaticon-left-foot: "\f128";
    $font-Flaticon-lips-with-mole: "\f129";
    $font-Flaticon-lungs-with-bronchi: "\f12a";
    $font-Flaticon-man-with-beard: "\f12b";
    $font-Flaticon-masculine-foot: "\f12c";
    $font-Flaticon-men-back: "\f12d";
    $font-Flaticon-men-hair: "\f12e";
    $font-Flaticon-men-legs: "\f12f";
    $font-Flaticon-men-torso: "\f130";
    $font-Flaticon-mustache-and-nose: "\f131";
    $font-Flaticon-nose-and-lips: "\f132";
    $font-Flaticon-oftalmology: "\f133";
    $font-Flaticon-one-hair: "\f134";
    $font-Flaticon-one-kidney: "\f135";
    $font-Flaticon-open-mouth: "\f136";
    $font-Flaticon-ophthalmology: "\f137";
    $font-Flaticon-orthopedic-leg: "\f138";
    $font-Flaticon-pregnant-woman: "\f139";
    $font-Flaticon-skin-hair: "\f13a";
    $font-Flaticon-spinal-bones: "\f13b";
    $font-Flaticon-stomach: "\f13c";
    $font-Flaticon-teeth-line: "\f13d";
    $font-Flaticon-tongue-out: "\f13e";
    $font-Flaticon-toothache: "\f13f";
    $font-Flaticon-two-feet: "\f140";
    $font-Flaticon-two-fingers: "\f141";
    $font-Flaticon-two-kidneys: "\f142";
    $font-Flaticon-two-lungs: "\f143";
    $font-Flaticon-urinary-bladder: "\f144";
    $font-Flaticon-urinary-system: "\f145";
    $font-Flaticon-vended-knee: "\f146";
    $font-Flaticon-walking-tiptoed: "\f147";
    $font-Flaticon-woman-body: "\f148";
    $font-Flaticon-woman-breast: "\f149";
    $font-Flaticon-woman-lips: "\f14a";
    $font-Flaticon-woman-neck: "\f14b";
    $font-Flaticon-woman-with-panties: "\f14c";
    $font-Flaticon-women-buttock: "\f14d";
    $font-Flaticon-women-foot: "\f14e";
    $font-Flaticon-x-ray-of-lungs: "\f14f";